<launch>
    <node pkg="webinterface" type="app.py" name="app" output="screen">
        <!-- Arguments spécifiques au noeud peuvent être ajoutés ici -->
        <!-- Exemple : <param name="param_name" value="param_value" /> -->
    </node>

                        <!-- Noeuds RFID -->

    <!-- Lancer le noeud RFID -->
    <node pkg="sensors" type="badge_sensor_node.py" name="badge_sensor_node" output="screen">
    </node>

    <!-- Lancer le noeud Database RFID -->
    <node pkg="badge_rfid" type="ajout_badge.py" name="ajout_badge" output="screen">
    </node>

        <!-- Lancer le noeud Database Historique RFID -->
    <node pkg="database" type="database_RFID.py" name="database_RFID" output="screen">
    </node>

                        <!-- Noeuds Micro -->

    <!-- Lancer le noeud micro -->
    <node pkg="sensors" type="micro_sensor_node.py" name="micro_sensor_node" output="screen">
    </node>

    <!-- Lancer le noeud Database sonore -->
    <node pkg="database" type="database_sonore.py" name="database_sonore" output="screen">
    </node>

                        <!-- Noeuds DHT11 -->

    <!-- Lancer le noeud DHT11 -->
    <node pkg="sensors" type="dht11_sensor_node.py" name="dht11_sensor_node" output="screen">
    </node>

    <!-- Lancer le noeud Database Humidite -->
    <node pkg="database" type="database_humdht11.py" name="database_humdht11" output="screen">
    </node>

        <!-- Lancer le noeud Database Temperature -->
    <node pkg="database" type="database_tempdht11.py" name="database_tempdht11" output="screen">
    </node>

</launch>
