<launch>
    <!-- Lancer le noeud RFID -->
    <node pkg="sensors" type="badge_sensor_node.py" name="badge_sensor_node" output="screen">
        <!-- Arguments spécifiques au noeud peuvent être ajoutés ici -->
        <!-- Exemple : <param name="param_name" value="param_value" /> -->
    </node>

    <!-- Lancer le noeud Database RFID -->
    <node pkg="database" type="database_RFID.py" name="database_RFID" output="screen">
        <!-- Arguments spécifiques au noeud peuvent être ajoutés ici -->
        <!-- Exemple : <param name="param_name" value="param_value" /> -->
    </node>
</launch>
