<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Entreprise ENPIWEN</title>
        <meta charset="utf-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Entreprise ENPIWEN</h1>
        <p>Ce site permet à un employé de s'identifier lors de son arrivée dans le local de l'entreprise ou à un nouvel employé d'entrer ses données personnelles</p>
        <form method="POST" action="{{url_for('traitement')}}">
        <fieldset>
          <label for="prénom">Entrez votre prénom: <input id="prénom" name="prénom" type="text" required /></label>
          <label for="nom">Entrez votre nom: <input id="nom" name="nom" type="text" required /></label>
          <label for="age">Entrez votre âge: <input id="age" type="number" name="age" min="13" max="120" /></label>
          <label for="intitulé du poste">Entrez l'intitulé de votre poste: <input id="intitulé du poste" name="intitulé du poste" type="text" required /></label>
          <label for="email">Entrez votre adresse mail personnelle: <input id="email" name="email" type="email" required /></label>
          <label for="mdp">Entrez un mot de passe: <input id="mdp" name="mdp" type="password" pattern="[a-z0-5]{8,}" required /></label>
          <input type="submit" value="Submit" />
        </fieldset>
    </body>
</html>