<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Entreprise ENPIWEN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Placez votre badge</h1>
    <p>Veuillez approcher votre badge du lecteur</p>

    <form method="POST">
        <input type="hidden" name="action" value="{{ action }}">
        <button type="submit">Continuer</button>
    </form>    
    
</body>
</html>
